.pagination{
  display: flex;
  align-content: center;

  &__values {
    display: flex;
    align-items: center;
  }

  &__btns{
    display: flex;
    margin: 0 10px;

    button {
      cursor: pointer;
      padding: 5px;
      margin: 5px;
    }
  }
}
